.ls-table {
    width: 100%;
    font-size: .75vw!important;
    thead, tbody {
        tr th > div, tr td > div {
            padding: 15px 15px;
        }
        .sel, .order {
            width: 60px;
        }
        th, td {
            min-width: var(--width);
            vertical-align: middle;
        }
    }
    thead {
        background-color: #ecf1f5;
    }
    tbody tr {
        &:hover {
            background-color: #effdf6!important;
        }
    }
    .even {
        background-color: #fafbfc;
    }
    .c-cell {
        padding: 0;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}